@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main {
  background: #f6f6f6;
}
img {
  width: 100%;
  height: 100%;
}

a:visited {
  color: inherit;
}

/* block */
.bl_borderCurve {
  position: relative;
  top: 0;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.bl_borderCurve::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100vh;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) scale(1.5) scaleY(1.5);
          transform: translateX(-50%) scale(1.5) scaleY(1.5);
}

.bl_borderCurve__top__ble {
  background-color: #f6f6f6;
}

.bl_borderCurve__top__ble::after {
  top: 0;
  background-color: #096FC8;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.bl_borderCurve__bottom__ble {
  background-color: #f6f6f6;
}

.bl_borderCurve__bottom__ble::after {
  bottom: 0;
  background-color: #096FC8;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.bl_borderCurve__top__w {
  background-color: #096FC8;
}

.bl_borderCurve__top__w::after {
  top: 0;
  background-color: #f6f6f6;
  -webkit-transform-origin: top;
          transform-origin: top;
}


.bl_MV_txt_wrapper {
  width: 100%;
  padding-top: 300px;
}

.bl_MV_txt {
  width: 1000px;
}
/* ここまでblock */

/* element */
.el_txtSecTtl {
  font-family: "My Galano Grotesque", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.el_txtStepName {
  font-family: "A+EqpB-游ゴシック体 Pr6N B";
  font-size: 80px;
  line-height: 90px;
  font-weight: 600;
}
.el_txt20 {
  font-family: "A+EqpB-游ゴシック体 Pr6N B";
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.el_txt16 {
  font-family: "A+EqpB-游ゴシック体 Pr6N B";
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}
.el_txtNormal {
  font-family: "A+EqpB-游ゴシック体 Pr6N B";
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
}
.el_txt27 {
  font-family: "A+EqpB-游ゴシック体 Pr6N B";
  font-size: 27px;
  line-height: 32px;
  font-weight: 600;
}
/* ここまでelement */

/* helper */
.hp_img {
  -o-object-fit: cover;
     object-fit: cover;
}
.hp_txtCenter {
  text-align: center !important;
}
.hp_nonDecration {
  text-decoration: none !important;
}
.hp_m0a {
  margin: 0 auto !important;
}
.hp_txtB {
  color: #333 !important;
}
.hp_txtW {
  color: #fff !important;
}
.hp_txtBLE {
  color: #2F85D0 !important;
}
.hp_mt20 {
  margin-top: 20px !important;
}
.hp_mt35 {
  margin-top: 35px !important;
}
.hp_mt60 {
  margin-top: 60px !important;
}
.hp_mt70 {
  margin-top: 70px !important;
}
.hp_mt160 {
  margin-top: 160px !important;
}
/* ここまでhelper */




/*以下ホバーアニメーション
WhyDesign
.bl_imgLink {
  &:hover img{
    transform: scale(1.1);
  }
}
*/
/*以下ホバーアニメーション
Career
.bl_imgAnim {
  overflow: hidden;
  img {
    transition: .2s;
  }
  &:hover img{
    transform: scale(1.1);
  }
}
.un_iconAnim__right {
    &:hover i {
    transform: translateX(5px) scale(1.2);
  }
}
.un_iconAnim__down {
    &:hover i {
    transform: translateY(5px) scale(1.2);
  }
}
.el_slideLink {
  &:hover .defo,&:hover .hoverd {
    transform: translateY(-30px);
  }
}
.bl_opportunit_cont_name {
  i {
    &:hover {
      transform: scale(1.2) translateY(-5px) translateX(5px);
    }
  }
}
.bl_getTo_card {
  &:hover .bl_getTo_card_imgBox{
    border: 5px solid $bgColor;
  }
}
.bl_learnMore_card {
  &:hover .bl_learnMore_card_imgBox{
    border: 5px solid $bgColor;
  }
}
*/



@media screen and (max-width: 1280px) {
  /* block */
  .bl_borderCurve {
    position: relative;
    top: 0;
    width: 100%;
    height: 450px;
    overflow: hidden;
  }
  .bl_borderCurve::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100vh;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) scale(1.5) scaleY(1.3);
            transform: translateX(-50%) scale(1.5) scaleY(1.3);
  }
  .bl_MV_txt {
    width: 820px;
  }
  /* ここまでblock */
}

@media screen and (max-width: 1028px) {
  /* block */
  .bl_borderCurve {
    position: relative;
    top: 0;
    width: 100%;
    height: 450px;
    overflow: hidden;
  }
  .bl_borderCurve::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100vh;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) scale(1.5);
            transform: translateX(-50%) scale(1.5);
  }
  .bl_secTtl {
    width: 720px;
  }
  .bl_MV_txt {
    width: 700px;
  }
  .bl_MV_txt_wrapper {
    width: 100%;
    padding-top: 300px;
  }
  .bl_MV_txt {
    width: 600px;
  }
  /* ここまでblock */
}

@media screen and (max-width: 768px) {
  /* block */
  .bl_borderCurve {
    position: relative;
    top: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .bl_borderCurve::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100vh;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) scale(2.5);
            transform: translateX(-50%) scale(2.5);
  }

  .bl_MV_txt_wrapper {
    width: 100%;
    padding-top: 300px;
  }
  .bl_MV_txt {
    width: 100%;
    padding-left: 20px;
  }
  /* ここまでblock */
}

@media screen and (max-width: 365px) {
  /* block */
  .bl_MV_txt {
    padding-left: 0px;
  }
    /* ここまでblock */
}
/*# sourceMappingURL=mixed.css.map */