
body {
  background: rgb(241, 241, 241);
}
.menu-wrapper {
  box-shadow: 0 2px 5px #888888;
  padding: 20px 0;
  ul {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
    li {
      width: 130px;
      margin: 0 10px;
      float: left;
      border-bottom: 1px solid rgb(145, 145, 145);
      text-align: center;

      &::after {
        content: '';

      }
      a {
        font-size: 1.4rem;
        text-decoration: none;
        color: #333333;
      }
    }
  }
}
.hero {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(white 70%, rgb(211, 210, 210));
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}
.sec-title {
  font-size: 3rem;
  font-weight: 600;
  // margin: 20px 0;
  text-align: center;
  margin: 30px 0;
  padding-top: 30px;
  font-family: 'Oswald', sans-serif;
}
.bg-white {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
}
.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.works {
  .work {
    width: 490px;
    margin-bottom: 20px;
    &:nth-of-type(odd) {
      margin-right: 20px;
    }
    img {
      width: 100%;
    }
  }
}

.about {
  .img-wrapper {
    width: 40%;
    text-align: center;
    padding-bottom: 30px;
    img {
      width: 200px;
      border-radius: 50%;
    }
  }
  .content {
    width: 60%;
    p {
      font-size: 1.5rem;
      line-height: 1.3;
    }
  }
}

.skills {
  .container {
    justify-content: center;
    .skill {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      font-size: 2rem;
      line-height: 200px;
      text-align: center;
      margin-bottom: 30px;
      &:not(:first-child) {
        margin-left: 20px;
      }
      &[data-color="1"] {
        background: #D9D9D9;
      }
      &[data-color="2"] {
        background: #C3D9C9;
      }
      &[data-color="3"] {
        background: #D9C3C3;
      }
    }
  }
}

.contact {
  padding-bottom: 30px;
  margin-bottom: 30px;
  ul {
    text-align: center;
    li {
      margin-bottom: 10px;
      i {
        font-size: 3rem;
        color: #00acee;
      }
      input {
        width: 140px;
        border: none;
        cursor: auto;
      }
      input:focus {
        border: none;
        outline: none;
      }
    }
  }
}