@charset "UTF-8";
:root {
  --bg-color: #096FC8;
  --txt-color: #5099D8;
}

.hp_img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.hp_m0a {
  margin: 0 auto !important;
}

.hp_mt20 {
  margin-top: 20px !important;
}

.hp_mt60 {
  margin-top: 60px !important;
}

.hp_mt70 {
  margin-top: 70px !important;
}

.hp_txtCenter {
  text-align: center !important;
}

.el_secTtl {
  font-family: "My Galano Grotesque", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.el_txt {
  font-family: "A+EqpB-游ゴシック体 Pr6N B", sans-serif;
  color: #fff;
}

.el_txt.el_txt__lg {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.el_txt.el_txt__sm {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.el_placeName {
  font-family: "My Galano Grotesque", sans-serif;
  color: #fff;
  font-size: 53px;
  font-weight: 600;
  line-height: 60px;
}

.el_address {
  font-family: "My Galano Grotesque", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.el_btn {
  width: 250px;
  height: 60px;
  border-radius: 30px;
}

.el_btn.el_btn__white {
  background: #fff;
  color: var(--txt-color);
  text-align: center;
  line-height: 60px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.el_btn.el_btn__white i {
  color: var(--bg-color);
  margin-left: 20px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.el_btn.el_btn__white:hover {
  background: var(--txt-color);
  color: #fff;
}

.el_btn.el_btn__white:hover i {
  color: #fff;
  -webkit-transform: translateX(10px) scale(1.1);
          transform: translateX(10px) scale(1.1);
}

.un_cardBlank {
  /* use to padding-right enable*/
}

.un_circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #8f8f8f;
  position: fixed;
  z-index: 10;
  -webkit-transition: .2s;
  transition: .2s;
  background: #1a1a1a;
  line-height: 80px;
  text-align: center;
  color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
}

/* コンテンツ  */
.ly_stickScroll {
  width: 100%;
  height: 1000px;
  position: relative;
}

.ly_stickScroll_inner {
  width: 100%;
  background: var(--bg-color);
  padding-top: 300px;
  padding-bottom: 200px;
}

.bl_conts_wrapper {
  width: 100%;
}

.bl_conts_wrapper .bl_top .bl_top_img {
  width: 75%;
  margin-right: auto;
}

.bl_conts_wrapper .bl_top .bl_top_img img {
  width: 100%;
  border-radius: 0px 10px 10px 0px;
}

.bl_conts_wrapper .bl_places {
  margin-top: 165px;
}

.bl_conts_wrapper .bl_places .bl_places_cardSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.bl_conts_wrapper .bl_places .bl_places_cardSlider::-webkit-scrollbar {
  display: none;
}

.bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 calc((100% - 684px) / 2);
}

.bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card {
  min-width: 684px;
}

.bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card:not(:first-child) {
  margin-left: 100px;
}

.bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .bl_places_imgWrapper {
  width: 100%;
}

.bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .bl_places_imgWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .el_address i {
  margin-right: 10px;
}

@media screen and (max-width: 1280px) {
  .ly_stickScroll {
    width: 100%;
    height: 1000px;
    position: relative;
  }
  .ly_stickScroll_inner {
    width: 100%;
    background: var(--bg-color);
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .bl_conts_wrapper {
    width: 100%;
  }
  .bl_conts_wrapper .bl_top .bl_top_img {
    width: 75%;
    margin-right: auto;
  }
  .bl_conts_wrapper .bl_top .bl_top_img img {
    width: 100%;
    border-radius: 0px 10px 10px 0px;
  }
  .bl_conts_wrapper .bl_places {
    margin-top: 165px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 calc((100% - 545px) / 2);
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card {
    min-width: 545px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card:not(:first-child) {
    margin-left: 100px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .bl_places_imgWrapper {
    width: 100%;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .bl_places_imgWrapper img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .el_address i {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .ly_stickScroll {
    width: 100%;
    height: 1000px;
    position: relative;
  }
  .ly_stickScroll_inner {
    width: 100%;
    background: var(--bg-color);
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .bl_conts_wrapper {
    width: 100%;
  }
  .bl_conts_wrapper .bl_top .bl_top_img {
    width: 75%;
    margin-right: auto;
  }
  .bl_conts_wrapper .bl_top .bl_top_img img {
    width: 100%;
    border-radius: 0px 10px 10px 0px;
  }
  .bl_conts_wrapper .bl_places {
    margin-top: 165px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 calc((100% - 480px) / 2);
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card {
    min-width: 480px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card:not(:first-child) {
    margin-left: 60px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .bl_places_imgWrapper {
    width: 100%;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .bl_places_imgWrapper img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .el_address i {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .el_txt {
    font-family: "A+EqpB-游ゴシック体 Pr6N B", sans-serif;
    color: #fff;
  }
  .el_txt.el_txt__lg {
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
  }
  .el_txt.el_txt__sm {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
  .el_placeName {
    font-family: "My Galano Grotesque", sans-serif;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
  }
  .el_address {
    font-family: "My Galano Grotesque", sans-serif;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
  }
  .el_btn {
    width: 200px;
  }
  .hp_txtCenter {
    text-align: left !important;
  }
  .ly_stickScroll {
    width: 100%;
    height: 1000px;
    position: relative;
  }
  .ly_stickScroll_inner {
    width: 100%;
    background: var(--bg-color);
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .bl_conts_wrapper {
    width: 100%;
  }
  .bl_conts_wrapper .bl_top .bl_top_img {
    width: calc(100% - 65px);
    margin-right: auto;
  }
  .bl_conts_wrapper .bl_top .bl_top_img img {
    width: 100%;
    border-radius: 0px 10px 10px 0px;
  }
  .bl_conts_wrapper .bl_top .bl_top_cont.hp_txtCenter {
    margin: 0 20px;
  }
  .bl_conts_wrapper .bl_top .bl_top_cont.hp_txtCenter .el_secTtl.hp_mt70 {
    margin-top: 50px !important;
  }
  .bl_conts_wrapper .bl_places {
    margin-top: 165px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide {
    padding: 0;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .un_circle {
    display: none;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 25px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card {
    min-width: 385px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card:not(:first-child) {
    margin-left: 15px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .bl_places_imgWrapper {
    width: 100%;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .bl_places_imgWrapper img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .el_placeName.hp_mt60 {
    margin-top: 30px !important;
  }
  .bl_conts_wrapper .bl_places .bl_places_cardSlider .bl_places_cardSlide .bl_places_card .el_address i {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */