:root {
  --bg-color: #096FC8;
  --txt-color: #5099D8;
}
.hp_img {
  object-fit: cover !important;
}
.hp_m0a {
  margin: 0 auto !important;
}
.hp_mt20 {
  margin-top: 20px !important;
}
.hp_mt60 {
  margin-top: 60px !important;
}
.hp_mt70 {
  margin-top: 70px !important;
}
.hp_txtCenter {
  text-align: center !important;
}
.el_secTtl {
  font-family: "My Galano Grotesque", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.el_txt {
  font-family: "A+EqpB-游ゴシック体 Pr6N B", sans-serif;
  color: #fff;
  &.el_txt__lg {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
  }
  &.el_txt__sm {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }
}
.el_placeName {
  font-family: "My Galano Grotesque", sans-serif;
  color: #fff;
  font-size: 53px;
  font-weight: 600;
  line-height: 60px;
}
.el_address {
  font-family: "My Galano Grotesque", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.el_btn {
  width: 250px;
  height: 60px;
  border-radius: 30px;
  &.el_btn__white  {
    background: #fff;
    color: var(--txt-color);
    text-align: center;
    line-height: 60px;
    transition: .2s ease-out;
    i {
      color: var(--bg-color);
      margin-left: 20px;
      transition: .3s ease-out;
    }
    &:hover {
      background: var(--txt-color);
      color: #fff;
      i {
        color: #fff;
        transform: translateX(10px) scale(1.1);
      }
    }
  }
}
.un_cardBlank {
  /* use to padding-right enable*/
}
.un_circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(143, 143, 143);
  position: fixed;
  z-index: 10;
  transition: .2s;
  background: rgb(26, 26, 26);
  line-height: 80px;
  text-align: center;
  color: #fff;
  transform: scale(0);
}
/* コンテンツ  */
.ly_stickScroll {
  width: 100%;
  height: 1000px;
  position: relative;
}
.ly_stickScroll_inner {
  width: 100%;
  background: var(--bg-color);
  padding-top: 300px;
  padding-bottom: 200px;
}
.bl_contents_wrapper {
  width: 100%;
  .bl_top {
    .bl_top_img {
      width: 75%;
      margin-right: auto;
      img {
        width: 100%;
        border-radius: 0px 10px 10px 0px;
      }
    }
  }
  .bl_places {
    margin-top: 165px;
    // padding-left: calc((100% - 684px) / 2);
    // overflow-x: visible;
    // z-index: 10;
    .bl_places_card_slider {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
      .bl_places_card_slide {
        display: flex;
        padding: 0 calc((100% - 684px) / 2);  //後で変えるべき
        .bl_places_card {
          min-width: 684px;
          &:not(:first-child) {
            margin-left: 100px;
          }
          .bl_img_wrapper {
            width: 100%;
            // height: 374px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
          .el_address {
            i {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 1280px) {
  .ly_stickScroll {
    width: 100%;
    height: 1000px;
    position: relative;
  }
  .ly_stickScroll_inner {
    width: 100%;
    background: var(--bg-color);
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .bl_contents_wrapper {
    width: 100%;
    .bl_top {
      .bl_top_img {
        width: 75%;
        margin-right: auto;
        img {
          width: 100%;
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
    .bl_places {
      margin-top: 165px;
      // padding-left: calc((100% - 684px) / 2);
      // overflow-x: visible;
      // z-index: 10;
      .bl_places_card_slider {
        overflow-x: scroll;
        overflow-y: hidden;
        .bl_places_card_slide {
          display: flex;
          padding: 0 calc((100% - 545px) / 2);
          &::-webkit-scrollbar {
            display: none;
          }
          .bl_places_card {
            min-width: 545px;
            &:not(:first-child) {
              margin-left: 100px;
            }
            .bl_img_wrapper {
              width: 100%;
              // height: 374px;
              img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
              }
            }
            .el_address {
              i {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .ly_stickScroll {
    width: 100%;
    height: 1000px;
    position: relative;
  }
  .ly_stickScroll_inner {
    width: 100%;
    background: var(--bg-color);
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .bl_contents_wrapper {
    width: 100%;
    .bl_top {
      .bl_top_img {
        width: 75%;
        margin-right: auto;
        img {
          width: 100%;
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
    .bl_places {
      margin-top: 165px;
      // padding-left: calc((100% - 684px) / 2);
      // overflow-x: visible;
      // z-index: 10;
      .bl_places_card_slider {
        overflow-x: scroll;
        overflow-y: hidden;
        .bl_places_card_slide {
          display: flex;
          padding: 0 calc((100% - 480px) / 2);
          &::-webkit-scrollbar {
            display: none;
          }
          .bl_places_card {
            min-width: 480px;
            &:not(:first-child) {
              margin-left: 60px;
            }
            .bl_img_wrapper {
              width: 100%;
              // height: 374px;
              img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
              }
            }
            .el_address {
              i {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .hp_txtCenter {
    text-align: left !important;
  }
  .ly_stickScroll {
    width: 100%;
    height: 1000px;
    position: relative;
  }
  .ly_stickScroll_inner {
    width: 100%;
    background: var(--bg-color);
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .bl_contents_wrapper {
    width: 100%;
    .bl_top {
      .bl_top_img {
        width: calc(100% - 65px);
        margin-right: auto;
        img {
          width: 100%;
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
    .bl_places {
      margin-top: 165px;
      // padding-left: calc((100% - 684px) / 2);
      // overflow-x: visible;
      // z-index: 10;
      .bl_places_card_slider {
        overflow-x: scroll;
        overflow-y: hidden;
        .bl_places_card_slide {
          display: flex;
          &::-webkit-scrollbar {
            display: none;
            padding: 0 25px;
          }
          .bl_places_card {
            min-width: 385px;
            &:not(:first-child) {
              margin-left: 15px;
            }
            .bl_img_wrapper {
              width: 100%;
              // height: 374px;
              img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
              }
            }
            .el_address {
              i {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}
