html {font-size: 10px;}

header {
  width: 100%;
  background: #F5F5F5;
  .menu-wrapper {
    width: 980px;
    padding: 10px 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: transparent;
    .logo-wrapper {
      font-size: 5rem;
    }
    nav {
      ul {
        li {
          float: left;
          margin-left: 10px;
          a {
            font-size: 2rem;
            text-decoration: none;
            color: #333333;
            padding: 5px;

            &.bg-g {
              background: lightgreen;
              color: #ffffff;
            }
            &.border-g {
              border: 1px solid lightgreen;
            }
          }
        }
      }
    }
  }
}

main {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  .hero {
    width: 100%;
    height: 440px;
    position: relative;
    background: url(../img/hero.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    img {
      width: 100%;
      height: 440px;
    }
    .hero-text {
      font-size: 6rem;
      color: #ffffff;
      position: absolute;
      top: 50%;
      right: 80px;
      transform: translateY(-50%);
    }
  }

  .intro {
    padding: 80px 0px 40px;
    background: #f5f5f5;
    .title {
      font-size: 4.5rem;
      margin-bottom: 15px;
    }
    .description {
      font-size: 3rem;
      margin-bottom: 40px;
      line-height: 1.5;
    }
  }

  .courses {
    padding: 80px 0px;
    box-sizing: border-box;
    h2 {
      font-size: 4.5rem;
      margin-bottom: 20px;
    }
    .box {
      display: flex;
      justify-content: center;
      .course {
        width: 300px;
        height: auto;
        padding: 20px 0px;
        margin: 10px;

        border: 1px solid gray;
        h3 {
          font-size: 3rem;
          line-height: 1.5;
        }
        p {
          font-size: 2rem;
          line-height: 1.5;
        }
        .price {
          font-size: 2rem;
        }
      }
    }
  }

  .add-order {
    h2 {
      font-size: 4.5rem;
      margin-bottom: 10px;
      line-height: 1.5;
      &.c-red {
        color: red;
      }
    }
    p {
      font-size: 3rem;
      margin-bottom: 10px;
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    .card {
      width: 250px;
      margin: 10px;
      .img-wrapper {
        // width: 100%;
        img {
          width: 100%;
        }
      }
      .content {
        margin-top: 10px;
        h3 {
          font-size: 3rem;
        }
        p {
          font-size: 2rem;
          line-height: 1.3;
        }
      }
    }
  }

  .conv {
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    div {
      &:first-child {
        margin-right: 20px;
      }
      a {
        display: block;
        width: 280px;
        height: 160px;
        font-size: 3rem;
        line-height: 160px;
        text-decoration: none;
        &.btn-red {
          background: red;
          color: white;
        }
        &.btn-gray {
          box-sizing: border-box;
          background: #f3f3f3;
          color: red;
          border: 2px solid red;
        }
      }
    }
  }
}



@media(max-width:1100px) {
  html {font-size: 8px;}
  main {
    width: 100%;
    .hero {
      .hero-text {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

  }
}

@media(max-width: 600px) {
  html {
    font-size: 6px;
  }
  main {

    .courses {
      .box {
        flex-direction: column;
        align-items: center;
      }
    }

    .cards {
      flex-wrap: wrap;
      align-items: flex-start;
      align-items: center;
      .card {
        // width: calc(50% - 100px);
        height: 340px;
        .content {
          h3 {
            font-size: 25px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }

    .conv {
      flex-direction: column;
      align-items: center;
      div {
        a {
          font-size: 30px;
        }
        &:first-child {
          margin-right: 0px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

footer {
  padding: 30px 0px;
  background: #f5f5f5;
  p {
    font-size: 16px;
  text-align: center;
  }
}